{% extends 'base.html' %}
{% load static %}

{% block title %}Jogadores - ABC FC{% endblock %}

{% block class2 %}<a href="{% url 'atletas' %}" class="nav-link active" aria-current="page">{% endblock %}

{% block content %}

<center>
<h1 class="txtatle">Veja nosso elenco</h1>
</center>

<center>
<div class="container">
  {% for atleta in atletas %}
    <div class="card" style="width: 18rem;">
      <img src="{% static atleta.foto %}" class="card-img-top" alt="{{ atleta.nome }}">
      <div class="card-body">
        <h5 class="card-title">{{ atleta.nome }}</h5>
        <!--<p class="card-text">{{ atleta.descricao }}</p>-->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Posição: {{ atleta.posicao }}</li>
        <li class="list-group-item">Idade: {{ atleta.idade }}</li>
        <li class="list-group-item">Naturalidade: {{ atleta.nascimento }}</li>
      </ul>
    </div>
    {% endfor %}
</div>

</center>


{% endblock %}