{% extends 'base.html' %}
{% block title %}Essa página é a Index{% endblock %}
{% block content %}
    <h1>Página Inicial</h1>
    <p>Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o entendimento das metas propostas prepara-nos para enfrentar situações atípicas decorrentes das diversas correntes de pensamento. No entanto, não podemos esquecer que o fenômeno da Internet facilita a criação das regras de conduta normativas. Do mesmo modo, a hegemonia do ambiente político deve passar por modificações independentemente das diretrizes de desenvolvimento para o futuro. A certificação de metodologias que nos auxiliam a lidar com o início da atividade geral de formação de atitudes representa uma abertura para a melhoria dos procedimentos normalmente adotados.</p>
    {% endblock %}