{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre{% endblock %}
{% block content %}
<h1>Sobre</h1>
<p>Pensando mais a longo prazo, o aumento do diálogo entre os diferentes setores produtivos oferece uma interessante oportunidade para verificação do levantamento das variáveis envolvidas. Caros amigos, a necessidade de renovação processual afeta positivamente a correta previsão de alternativas às soluções ortodoxas. Evidentemente, a contínua expansão de nossa atividade exige a precisão e a definição do sistema de participação geral. Não obstante, o surgimento do comércio virtual promove a alavancagem das posturas dos órgãos dirigentes com relação às suas atribuições. Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se o comprometimento entre as equipes ainda não demonstrou convincentemente que vai participar na mudança das novas proposições.</p>
<img src="{% static 'gato.jpg' %}" alt="Gato">
{% endblock %}